.container
  .jumbotron
    %ul.list-group
      %li.list-group-item "Testje"
      %li.list-group-item "Testje"
      %li.list-group-item "Testje"
      %li.list-group-item "Testje"
      %li.list-group-item "Testje"
      %li.list-group-item "Testje"